<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
</head>
<body>
<Header>
    <h1><%= title %></h1>
</Header>
<div class="left">
    <ul id="list">
        <% book.forEach ( function(name){ %>
        <li title="<%= name %>"><%= name %></li>
        <% }) %>
    </ul>
</div>
<div class="right" id="bookContent"></div>
<script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>
